// main SASS file
//***********IMPORT**********//

@import "mixins";
@import "queries";
@import "variables";

// main SASS file
* {
@extend .default
}

html {
  font-size: 16px;
  font-family: $def-font;
  /* default for whole page */
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: $head-f;
  /* serif for the headings */
}

ul {
  list-style: none;
}

/***********************************************
                SPECIAL
***********************************************/

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/***********************************************
                LAYOUT
***********************************************/

.bg-header {
  @include bgheader;
}

.bg-focal {
  background-color: $light-brown;
  color: $dark-brown;
}

.bg-content1 {
  background-color: #fff;
  color: $dark-grey;
}

.bg-content2 {
  background-color: $light-blue;
  color: $dark-blue;
}

.bg-footer {
  background-color: #fff;
  color: $dark-grey;
}

header {
 @include header;
}

section {
  &.focal {
    width: 400px;
    /* default */
    margin: 0 auto;
  }
  &.content1, &.content2 {
    padding: 2rem 0;
  }
}

.row {
  clear: both;
}

.col-2 {
  width: 50%;
  float: left;
  padding-bottom: 2rem;
  border-left: 1px solid $dark-blue;
  margin-bottom: 2rem;
}

footer {
  .col-2:first-child {
    border-left: 0;
  }
  padding: 2rem 0;
  p:last-child {}
}

/***********************************************
                NAVIGATION
***********************************************/

header {
  nav {
    @include header-nav;
  }
  h1 {
    @include header-h1
  }
}

/***********************************************
                CONTENT
***********************************************/

.focal {
  h2 {
    font-size: 1.999rem;
    line-height: 1.2;
    padding: 2rem 2rem 1rem 2rem;
  }
  .author {
    font-size: 1rem;
    padding: 0.2rem 2rem 2rem;
  }
}

.content1 {
  h3 {
    font-size: 1.999rem;
    padding: 0.2rem 2rem 2rem;
    i {
      vertical-align: middle;
      padding-right: 2rem;
    }
  }
  p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 2rem;
  }
}

.content2 {
  h3 {
    font-size: 1.999rem;
    padding: 1rem 2rem 0.5rem;
  }
  h4 {
    font-size: 1.999rem;
    padding: 1rem 2rem 0rem;
  }
  p {
    font-size: 1.414rem;
    padding: 0.5rem 2rem 1rem;
  }
  li {
    padding: 0.5rem 2rem;
    font-size: 1.414rem;
  }
}

/***********************************************
                FOOTER
***********************************************/

footer {
  h4 {
    font-size: 1.414rem;
    padding: 0.5rem 2rem;
    color: $dark-brown;
  }
  p {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: $dark-grey;
  }
  .fa-circle {
    color: $dark-grey;
  }
  h4 {
    &[lang=de] {
      display: block;
    }
    &[lang=en], &[lang=ar], &[lang=ru] {
      display: none;
    }
  }
}

